@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Original+Surfer&family=Road+Rage&display=swap');
/*selector universal*/
*{
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-color: rgb(125, 135, 146);
    color: white;

}
/*selector id*/
#contenedor{
    width: 900px;
    height: 2500x;
    background-color: rgb(95, 119, 130);
    margin: 10px;
    padding: 20px;


}
#encabezado{
    width: 90%;
    background-color: rgb(79, 86, 102);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu{
    height: 40px;
    background-color: rgb(221, 232, 239);
    margin: 1em;
    border-radius: 5px;

}
#mennu{
    height: 6%;
    background-color: rgb(67, 90, 94);
    margin: 1em;
    border-radius: 5px;
}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;

}

img:hover{
   width: 50%;

}

li a:hover{
    color:crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/*selector de clase*/
.img{
    width: 60%;
    border-radius: 30px;
    justify-items: center;


}
.texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px 25px;
    color: white;

}

#pie{
    height: 60px;
    background-color: #687e91;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;


}

#pie h4{
    padding: 15px;
    font-size: 25px;
    color: rgb(227, 227, 241);
}
.card{
    box-shadow: 0px 4px 8px  rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    margin:auto ;
    text-align: center;
    border: 1px solid;
    border-radius: 15px ;
}
.card:hover{
    max-width: 310px;
}


.card img{
    background-color: rgb(156, 154, 154);
width: 100%;

}
.title{
    color: rgb(249, 248, 248);
    font-size: 15px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(13, 13, 13);
    background-color: rgb(235, 234, 234);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.letra{
    font-size: 35px;
    font-family:"kalnia";

}


.vollkorn-sc-bold {
    font-family: "Vollkorn SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  .lancelot-regular {
    font-family: "Lancelot", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

  
  
  
  
  

  