/*selector universal*/
*{
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-color: rgb(125, 135, 146);
    color: white;

}
/*selector id*/
#contenedor{
    width: 900px;
    height: 2500x;
    background-color: rgb(95, 119, 130);
    margin: 10px;
    padding: 20px;


}
#encabezado{
    width: 90%;
    background-color: rgb(79, 86, 102);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu{
    height: 40px;
    background-color: rgb(221, 232, 239);
    margin: 1em;
    border-radius: 5px;

}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;

}

img:hover{
    width: 60%;

}

li a:hover{
    color:crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/*selector de clase*/
.img{
    width: 60%;
    border-radius: 30px;
    justify-items: center;


}
.texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;

}

#pie{
    height: 60px;
    background-color: #687e91;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;


}

#pie h4{
    padding: 15px;
    font-size: 25px;
    color: rgb(227, 227, 241);
}
