/* selector universal*/
*{
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-color: rgb(168, 171, 165);
    color: rgb(7, 7, 7);

}
/*selector id*/
#contenedor{
    width: 900px;
    height: 2500x;
    background-color: #e9efdd;
    margin: 10px;
    padding: 20px;


}
#encabezado{
    width: 70%;
    background-color: rgb(182, 188, 175);
    margin: 2em;
    border-radius: 6px;
    text-align: center;

}
#menu{
    height: 40px;
    background-color:#b7b7b4;
    margin: 1em;
    border-radius: 5px;

}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;

}
img:hover{
    width: 60%;

}

li a:hover{
    color:rgb(223, 20, 20);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/*selector de clase*/
.img{
    width: 60%;
    border-radius: 30px;
    justify-items: center;


}
.texto{
    text-align: center;
    font-family: :'Times New Roman', Times, serif
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(14, 13, 13);

}
#pie{
    height: 55px;
    background-color: #8c8f76;
    margin: 1.5em;
    text-align: center;
    padding: 4px;
    border-radius: 4px;


}

#pie h4{
    padding: 15px;
    font-size: 20px;
    color: rgb(227, 227, 241);
}