/* selector universal*/
*{
    margin: 0;
    padding: 0;

}

/*selector de etiqueta*/
body{
    background-color: rgb(168, 171, 165);
    color: rgb(7, 7, 7);

}
/*selector id*/
#contenedor{
    width: 900px;
    height: 2500x;
    background-color: #e9efdd;
    margin: 10px;
    padding: 20px;


}
#encabezado{
    width: 80%;
    background-color: rgb(182, 188, 175);
    margin: 2em;
    border-radius: 6px;
    text-align: center;

}
#menu{
    height: 40px;
    background-color:#b7b7b4;
    margin: 1em;
    border-radius: 5px;

}
#mmenu{
    height: 6%;
    background-color: rgb(188, 189, 185);
    margin: 1em;
    border-radius: 5px;
}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 10px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;

}
img:hover{
    width: 50%;

}

li a:hover{
    color:rgb(160, 36, 36);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/*selector de clase*/
.img{
    width: 50%;
    border-radius: 40px;
    justify-items: center;


}
.texto{
    text-align: center;
    font-family: :'Times New Roman', Times, serif
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(14, 13, 13);

}
#pie{
    height: 55px;
    background-color: #8c8f76;
    margin: 1.5em;
    text-align: center;
    padding: 4px;
    border-radius: 4px;


}

#pie h4{
    padding: 15px;
    font-size: 20px;
    color: rgb(227, 227, 241);
}
.card{
    box-shadow: 0px 4px 8px 0px rgba(23, 18, 18, 0.2);
    overflow: hidden;
    max-width: 370px;
    margin:auto ;
    text-align: center;
    border: 2px solid;
    border-radius: 15px ;
}
.card:hover{
    max-width: 310px;
}
   

.card img{

width: 100%;
}
.title{
    color: rgb(15, 11, 11);
    font-size: 15px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(244, 235, 235);
    background-color: rgb(13, 12, 12);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.kalnia-<uniquifier> {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  