*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(101, 116, 130);
    color: white;

}
#contenedor{
    width: 900px;
    height: 3000px;
    background-color: rgb(119, 127, 136);
    margin: 10px;
    padding: 20px;


}
#encabezado{
    width: 90%;
    background-color: rgb(90, 115, 129);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu{
    height: 300px;
    background-color: rgb(143, 158, 190);
    margin: 3em;
    border-radius: 10px;
    text-align: center ;

}
/*selector de etiqueta para el menu*/
ul{
    text-align: center;
    padding: 20px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 2em;

}

img:hover{
    width: 60%;

}

li a:hover{
    color:crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/*selector de clase*/
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;


}